@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/globals" as *;

body{
    background-color: $secondary-shade;
    color: white;
    font-family: Poppins;
}

.header{
    text-align: center;
    &__content{
        font-weight: bold;
        color: #353434;
        font-size: 4rem;
    }
}

.tasks{
    background-color: #353434;
    padding: 2%;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    // border-radius: 2rem;

    // max-height: 80vh;
    &__add{
        background-color: $secondary-neon;
        color: white;
        border: 0;
        margin-top: 1.563rem;
        padding: 0.625rem;
        font-weight: bold;
    }
    &__status{
        margin-bottom: 1rem;
        &-button{
            background-color: $secondary-neon;
            color: white;
            border: 0;
            margin-top: 1.563rem;
            padding: 0.625rem;
            font-weight: bold;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        &-item{
            // border-radius: 2rem;
            background-color: black;
            display: flex;
            justify-content: space-between;
            padding: 0.7rem 1.5rem;
            margin: 1rem;
        }
    }
}

.active{
    background-color: $secondary-dark;
}

.actions{
    width: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
