
@use "../../styles/globals" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.addTask{
    &__button{
        background-color: $secondary-neon;
        color: white;
        border: 0;
        margin-top: 1.563rem;
        padding: 0.625rem;
        font-weight: bold;
    }
}


.react-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style for the modal content container */
  .modal-content {
    color: black;
    background-color: #fff; /* White background */
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Drop shadow */
    max-width: 16rem;
    height: fit-content;
    padding: 3.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }